<%= turbo_frame_tag 'modal-body', target: '_top' do %>
  <% if @company.errors.any? %>
    <div id="errors" style="color: red">
      <h2><%= pluralize(@company.errors.count, "error") %> stopped this company from being saved:</h2>

      <ul>
        <% @company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @company, class: 'text-center') do |form| %>
    <div class="form-floating mb-3">
      <%= form.text_field(:name, { class: 'form-control', placeholder: 'Name', required: true }) %>
      <%= form.label(:name) %>
    </div>

    <%= form.submit({ class: 'btn btn-success' }) %>
  <% end %>
<% end %>